* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 10px;
}

.container {
    width: 180px;
    height: 500px;
    background-color: rgb(77, 77, 77);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 12px;
}
.merah, .kuning, .hijau {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    opacity: 0.3;
}

.merah {
    background-color: red; 
}

.kuning {
    background-color: orange; 
}

.hijau {
    background-color: green; 
}

.on {
    opacity: 1; 
}